<div class="container">
  <main role="main" class="pb-3">
    <h1>Index</h1>

    <table class="table">
      <thead>
        <tr>
          <th>
            Title
          </th>
          <th>
            UpdatedTime
          </th>
          <th>
            Creator
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datum of homeData">
          <td>
            <a routerLink="/test/detail/{{ datum.testId }}">{{ datum.title }}</a>
          </td>
          <td>
            {{ datum.updatedTime }}
          </td>
          <td>
            {{ datum.userName }}
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</div>
