@{
    ViewData["Title"] = "What's the Test Maker?";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <section class="d-flex align-items-center  mt-4">
            <div class="col-5">
                <h3>Share your own test.</h3>
                <p>
                    Have you been want to solve many questions, for example, qualification, knowledge retention, etc.
                    You can share your own test at this app, and you can take a test.
                </p>
            </div>
            <div class="col-7">
                <img class="border" width="100%" height="100%" src="~/Images/home_index.png" />
            </div>
        </section>
        <section class="d-flex align-items-center mt-4">
            <div class="col-5">
                <h3>You can take a test.</h3>
                <p>
                    You can take a test, and you can grade papers for free.
                </p>
            </div>
            <div class="col-7">
                <img class="border" width="100%" height="90%" src="~/Images/test_result.png" />
            </div>
        </section>
        <section class="d-flex align-items-center mt-4">
            <div class="col-5">
                <h3>How to create test?</h3>
                <p>
                    1.Select "Create Question", and input question's title and number.
                </p>
                <p>
                    2.Input questions and choice text. Don't forget to check answer.
                </p>
            </div>
            <div class="col-7">
                <img class="border" width="100%" height="90%" src="~/Images/create_test.png" />
            </div>
        </section>
    </div>
</div>
