@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>We will not disclose any personal information to a third party under any circumstance without customer's prior consent.</p>
<h2>Disclaimer</h2>
<p>We are not liable for any trouble, loss, or damage arising from any acts performed as a result of decisions made based on the information contained on this web application.</p>