<h1>Set question settings</h1>

<hr />
<div class="row">
  <div class="col-md-6">
    <form>
      <div class="form-group">
        <label for="title" class="control-label">Title</label>
        <input type="text" name="title" class="form-control" />
      </div>
      <div class="form-group">
        <label for="number" class="control-label">Number</label>
        <input type="number" name="number" class="form-control" />
      </div>
      <div class="form-group">
        <input type="submit" value="Next" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>
