@model DDD.Domain.Models.User
<h1>Edit user's information</h1>

<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Password" />
            <input type="hidden" asp-for="Salt" />
            <input type="hidden" asp-for="Icon" />
            <div class="form-group">
                <label asp-for="LoginId" class="control-label"></label>
                <input asp-for="LoginId" class="form-control" readonly />
                <span asp-validation-for="LoginId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelfIntroduction" class="control-label"></label>
                @Html.TextAreaFor(
                    model => model.SelfIntroduction,
                    5,
                    80,
                    new { @class = "form-control" }
                )
            </div>
            <div class="form-group">
                <label asp-for="Icon" class="control-label"></label>
                <input accept="image/jpeg,image/jpg,image/png" type="file" asp-for="Icon" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink(
                    "Change Password",
                    "ChangePassword",
                    "User",
                    new { id = Model.UserId },
                    new { @class = "btn btn-danger ml-2" })
            </div>
        </form>
    </div>
</div>

