@model TestMaker.Models.ViewModels.TestViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div class="row">
        <h4 class="col-2">Test</h4>
        @Html.ActionLink(
            "Edit",
            "Edit",
            "Test",
            new { id = Model.Tests.TestId },
            new { @class = "btn btn-primary col-1" })
    </div>
    <hr />
    @foreach(var q in Model.Questions)
    {
        <div class="container">
            <div class="mb-5">
                @Html.DisplayFor(model => q.QuestionText)
            </div>
            <div class="mb-5">
                @if (Model.Choices
                   .Where(o => o.QuestionId == q.QuestionId)
                   .Count(o => o.IsAnswer) > 1)
                {
                    @foreach (var c in Model.Choices.Where(o => o.QuestionId == q.QuestionId))
                    {
                        <div>
                            <input type="checkbox" name="choice_@(q.QuestionId)" />
                            @Html.DisplayFor(model => c.ChoiceText)
                        </div>
                    }
                }
                else
                {
                    @foreach (var c in Model.Choices.Where(o => o.QuestionId == q.QuestionId))
                    {
                        <div>
                            <input type="radio" name="choice_@(q.QuestionId)" />
                            @Html.DisplayFor(model => c.ChoiceText)
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>
<div>|
    <a asp-action="Index">Back to List</a>
</div>
