@model TestMaker.Models.ViewModels.TestViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Test</h4>
    <hr />
    @foreach(var q in Model.Questions)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayFor(model => q.QuestionText)
            </dt>
        @foreach(var c in Model.Choices)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => c.ChoiceText)
            </dd>
        }
        </dl>
    }
</div>
<div>|
    <a asp-action="Index">Back to List</a>
</div>
