@model TestMaker.Models.ViewModels.TestViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Test</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tests.TestId" />
            <input type="hidden" asp-for="Tests.Number" />
            <div class="form-group">
                <label asp-for="Tests.Title" class="control-label"></label>
                <input asp-for="Tests.Title" class="form-control" />
                <span asp-validation-for="Tests.Title" class="text-danger"></span>
            </div>
            @for (var q = 0; q < Model.Tests.Number; q++)
            {
                <input type="hidden" asp-for="Tests.Questions[q].QuestionId" />
                <div class="form-group">
                    <label asp-for="Tests.Questions[q].QuestionText" class="control-label">Question @(q + 1)</label>
                    <input asp-for="Tests.Questions[q].QuestionText" class="form-control" />
                    <span asp-validation-for="Questions[q].QuestionText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @for (var i = 0; i < 4; i++)
                    {
                        <input type="hidden" asp-for="Tests.Questions[q].Choices[i].ChoiceId" />
                        <label asp-for="Tests.Questions[q].Choices[i].ChoiceText" class="control-label">ChoiceText @(i + 1)</label>
                        <div class="form-inline">
                            <input asp-for="Tests.Questions[q].Choices[i].ChoiceText" class="form-control" />
                            @Html.CheckBoxFor(
                                model => model.Tests.Questions[q].Choices[i].IsAnswer,
                                new { @class = "ml-2" }
                            )
                        </div>
                    }
                    <span asp-validation-for="Tests.Questions[q].Choices" class="text-danger"></span>
                </div>
                <hr />
            }
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

